h2{
    color: var(--bite_dark_green);
    font-size:7em;
}

p{
    color: var(--bite_dark_green);
    font-size:24px;
}
.container-cols {
    background-size: 100% 125%;
    background-image: url('../img/background_op.png'); /* Ruta de la imagen */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30% 10%;
    height: 500px; /* Ajusta la altura del contenedor principal */
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    padding-right: 40px;
}

.right-column {
    padding-right: 20%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {



    footer{
        margin-top: 100vh;
    }

    h2 {
        font-size: 4em; /* Reduce el tamaño de las fuentes */
    }

    p {
        font-size: 18px; /* Reduce el tamaño del texto */
    }

    .container-cols {
        flex-direction: column; /* Cambia las columnas a filas en pantallas pequeñas */
        padding: 5% 5%; /* Reduce el padding para móviles */
        background-size: 200% 10%;
    }

    .left-column, .right-column {
        padding: 0;
    }

    .right-column {
        padding-top: 20px;
        padding-right: 0; /* Quita el padding lateral en móviles */
    }

    .contactForm {
        max-width: 100%; /* Ajusta el formulario para que ocupe todo el ancho en móviles */
        padding: 10px;
    }
}

/* Tabletas (pantallas de entre 769px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    h2 {
        font-size: 5em; /* Ajusta el tamaño del texto para tablets */
    }

    p {
        font-size: 20px; /* Ajusta el tamaño del texto para tablets */
    }

    .container-cols {
        padding: 5% 5%; /* Ajusta el padding en tablets */
    }

    .contactForm {
        max-width: 80%; /* Reduce el tamaño del formulario en pantallas medianas */
    }
}