.letter-carrousel{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--bite_red);
}

.letter-carrousel h1{
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}